extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  h3.title Web Speech APIサンプル
  button.btn.js-record-btn 音声認識開始
  .content.js-content
